/part05-Part05_01.OneMinute/target/
/part05-Part05_02.Book/target/
/part05-Part05_03.Cube/target/
/part05-Part05_04.FitByte/target/
/part05-Part05_05.ConstructorOverload/target/
/part05-Part05_06.OverloadedCounter/target/
/part05-Part05_07.NullPointerException/target/
/part05-Part05_09.HealthStation/target/
/part05-Part05_10.CardPayments/target/
/part05-Part05_08.BiggestPetShop/target/
/part05-Part05_11.ComparingApartments/target/
/part05-Part05_12.Song/target/
/part05-Part05_13.IdenticalTwins/target/
/part05-Part05_14.Books/target/
/part05-Part05_15.Archive/target/
/part05-Part05_16.DatingApp/target/
/part05-Part05_17.Money/target/
